<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleXslt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConsoleXslt.Properties.Settings>
            <setting name="XmlInputFilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlOutputFilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="XslFilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="XslTransformFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlFileNameToTransform" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceIndentsAndBreakLinesInXmlOutput" serializeAs="String">
                <value />
            </setting>
        </ConsoleXslt.Properties.Settings>
    </userSettings>
</configuration>